/* 
body{
    display: grid;
    width: 800px;
    height: 564px;
    grid-template-areas: "nav nav nav nav nav nav"
                        "section section section section section aside "
                        "footer footer footer footer footer aside";
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 7vw 10vw 20vw 25vw 8vw 8vw;
    margin: 0;
    padding: 0;
    grid-gap: 10px;
  
}
nav {
    grid-area: nav;
    background-color: black;
 }

 section {
    grid-area: section;
    background-color: red;
} 
footer{ 
    grid-area: footer;
    background-color: blue;
    text-align: center;
    }
.aside{
    grid-area: aside;
    background-color: yellow;
   
}

  */
  body{
    width: 800px;
    height: 564px;
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
  }
  .page {
    
    display: grid;
    font-family: Arial, sans-serif;
    grid-gap: 20px;
    padding-bottom: 10px;
    grid-template-areas:
        'um dois tres quatro cinco seis'
        /* 'um sete oito nove dez onze'
        'um footer footer footer footer footer'
        'um batata batata batata batata batata'; */;
    background-color: black;
    grid-template-columns: 3.5rem 7rem 14rem 16rem 6rem 6rem;

}
.page1 {
    
    display: grid;
    font-family: Arial, sans-serif;
    grid-gap: 20px;
   
    grid-template-areas:'um sete oito nove dez onze doze'
        
        /* 'um sete oito nove dez onze'
        'um footer footer footer footer footer'
        'um batata batata batata batata batata'; */;
    background-color: black;
    grid-template-columns: 3.5rem 7rem 14rem 6rem 8.75rem 6rem 6rem;
    padding-top: 10px;
    
    /* grid-template-rows: 33.3%; */
}

.um { grid-area: um;
background-color: white;
}

.footer { grid-area: footer; }
.batata {
    grid-area: batata;
    background-color: blue;
}
.dois {
    grid-area: dois;
    background-color: yellow;    
}
.tres {grid-area: tres;
    background-color: blue;
}
.quatro {grid-area: quatro;
    background-color: red;
}
.cinco {grid-area: cinco;
    background-color: yellow;
}
.seis {grid-area: seis;
    background-color: white;
}
.sete { grid-area: sete;
    background-color: white;
}
.oito {grid-area: oito;
    background-color: white;
}
.nove { grid-area: nove;
    background-color: white;
}
.dez { grid-area: dez;
    background-color:blue;
}
.onze { grid-area: onze;
    background-color:blue;
}
.doze { grid-area: doze;
    background-color:blue;
}

